<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <div>
            <input name="username" type="text" placeholder="Username">
        </div>
        <div>
            <input name="password" type="password" placeholder="Password">
        </div>
        <div>
            <input name="confirmation" type="password" placeholder="Confirm Password">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>