{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>

    <h2>Stocks</h2>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total Value</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["name"] }}</td>
            <td>{{ stock["total_shares"] }}</td>
            <td>{{ stock["price"]|usd }}</td>
            <td>{{ stock["total_value"]|usd }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Cash Balance</h2>
    <p>{{ cash|usd }}</p>

    <h2>Total Portfolio Value</h2>
    <p>{{ total_value|usd }}</p>
{% endblock %}